<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="../styles/layout.css" rel="stylesheet" />
    <link href="../styles/about.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Smit Shah - About</title>
</head>
<body>
    <header>
        <!-- <h1>Smit Shah</h1> -->
        <h1><span class="first-letter">S</span>mit <span class="first-letter">S</span>hah</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a id="active" href="">About</a>
            <a href="experience.html">Work Experience</a>
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <main>
        <section id="aboutus">
            <header><h1>ABOUT ME</h1></header>
            <article>
                <p>Studying Computer Application Development(CO-OP) at Conestoga College, I am excited to explore new technologies and implement them.</p>
                <p>My passion for developing IT solutions starts on the day I got my first mobile. I've always been using various applications and websites for different purposes while wondering if I can modify or create websites or applications which can help me in my daily routine.</p>
                <p>Eventually, I started with HTML and Javascript and created my first small website in school, allowing students like me to create a time-table for our daily classes.</p>
                <p>In the process of developing that website, I realized that there is so much to learn to compete with the pace of the revolutions in technologies. So, after completion of my higher education, I decided to start my studies in IT and pursue my hobby as a career.</p>
                <p>As a passionate forever-student, I am Looking for an opportunity to work as a co-op intern or full-time software or web developer.</p>
            </article>
        </section>
        <section id="eduback">
            <header><h2 class="underline">Educational Background</h2></header>
            <section class="timeline">
                <!--TIMELINE-->
                <article class="edu">
                    <div class="date">
                        <p>Sept 2020</p>
                        <p>-</p>
                        <p>Current</p>
                    </div>
                    <div class="body"> 
                        <header><h4><span class="first-letter" >C</span>omputer <span class="first-letter" >A</span>pplication <span class="first-letter" >D</span>evelopment <br/>(CO-OP)</h4></header>
                        <p class="clg">Conestoga College, Waterloo, ON</p>
                        <ul>
                            <li>Web Applications with .net core and node JS</li>
                            <li>Software Applications with C# WPF</li>
                            <li>Mobile Application Development with .NET UNO and React Native</li>
                            <li>Methodologies like Waterfall and Agile.</li>
                        </ul>
                        
                    </div>
                    <p class="gpa">GPA: 3.95</p>
                    <input type="button" onclick="showHide(this)"/>
                </article>

                <article class="edu">
                    <div class="date">
                        <p>Jan 2020</p>
                        <p>-</p>
                        <p>Sept 2020</p>
                    </div>
                    <div class="body"> 
                        <header><h4><span class="first-letter" >M</span>obile <span class="first-letter" >A</span>pplication <span class="first-letter" >D</span>evelopment</h4></header>
                        <p class="clg">Northern College, Timmins, ON</p>
                        <ul>
                            <li>Web Development with HTML and JavaScript</li>
                            <li>Software Development with JAVA</li>
                            <li> Mobile Application Development with Kotlin and Swift</li>
                        </ul>
                        
                    </div>
                    <p class="gpa">GPA: 4.00</p>
                    <input type="button" onclick="showHide(this)"/>
                </article>

                <article class="edu">
                    <div class="date">
                        <p>May 2015</p>
                        <p>-</p>
                        <p>June 2018</p>
                    </div>
                    <div class="body"> 
                        <header><h4><span class="first-letter" >B</span>achelor of <span class="first-letter" >C</span>omputer <span class="first-letter" >A</span>pplication </h4></header>
                        <p class="clg">Ahmedabad University, India</p>
                        <ul>
                            <li>Fundamentals of different Programming Languages</li>
                            <li>Database Management</li>
                            <li>Software Security</li>
                            <li>Networking</li>
                            <li>Data Structures and Slgorithms</li>
                            <li>System Analysis and Designing</li>
                        </ul>
                        
                    </div>
                    <p class="gpa">GPA: 3.80</p>
                    <input type="button" onclick="showHide(this)"/>
                </article>
            </section>
        </section>
    </main>
    <footer></footer>
    <script>
        function showHide(btn){
            console.log(btn);
            
            var ul = btn.parentElement.querySelector(".body").querySelector('ul');
            $(ul).slideToggle(1000);
            $(btn).toggleClass("btn-toggle");
            // if(ul.style.display=="none"){
            //     ul.style.display="block";
            // }else{
            //     ul.style.display="none";
            // }
        }
    </script>
</body>
</html>