<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="../styles/layout.css" rel="stylesheet" />
    
    <title>Smit Shah - Portfolio</title>

</head>
<body>
    <header>
        <!-- <h1>Smit Shah</h1> -->
        <h1><span class="first-letter">S</span>mit <span class="first-letter">S</span>hah</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a id="active" href="">About</a>
            <a href="">Work Experience</a>
            <a href="">Projects</a>
            <a href="">Contact</a>
        </nav>
    </header>
    <main>
        
    </main>
    <footer></footer>
</body>
</html>